<img src="{{ url_for('static', filename='images/floorplan/house_front.jpg')}}" alt="">
<br><br><br><br>
<div style="width: 80%; margin: 0px auto;">
    <img src="{{ url_for('static', filename='images/floorplan/house_info.png')}}" alt="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    <img src="{{ url_for('static', filename='images/floorplan/house_info2.png')}}" alt="">
</div>
<br>
<div style="width: 80%; margin: 0px auto;">
<img src="{{ url_for('static', filename='images/floorplan/first_floor.jpg')}}" alt="">
<img src="{{ url_for('static', filename='images/floorplan/second_floor.jpg')}}" alt="">
</div>