<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PythonDevHouseATX</title>
    <!-- normalizar -->
    <link href="{{ url_for('static',filename='css/normalize.css') }}" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!--fontawesome-->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

    <!--animation-->
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">

    <!--main css-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!--main css-->
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">

</head>

<body>
    <div id="preloader">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    </div>

    <header id="header_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo">
                        <h1><a href="#inquiries">PythonDevHouseATX</a></h1>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="mainmenu">
                        <div class="navbar navbar-nobg">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#features_area">The How</a>
                                    </li>
                                    <li><a href="#story_area">My Story</a>
                                    </li>
                                    <li><a href="#Experience_area">The What</a>
                                    </li>
                                    <li><a href="#clients_say_area">Rent a Room</a>
                                    </li>
                                    <li><a href="#inquiries">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="header_area_text">
                        <h2 class="wow slideInDown" data-wow-duration="2s">Rent a Room, Learn to Code</h2>
                        <p class="wow slideInUp">Learn web development where you live without quitting your job.<br>Take the risk out of learning web development.  Rent a room in my house and I'll act as your mentor, guiding your learning until you've reached your goals, whether that be employment or bringing an idea to life.</p>
                        <a class="wow slideInUp" data-wow-duration="2s" href="#inquiries">Email Me for Availability</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header top area -->


    <section id="features_area" class="section_padding text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Collaborative Learning Environment</h2>
                </div>
            </div>
            <div class="row">
                {{ render_collaborative('fa-user', 1, 'Guided Learning', guided_learning) }}
                {{ render_collaborative('fa-flag', 2, 'No More Frustration', no_frustration) }}
                {{ render_collaborative('fa-paint-brush', 3, 'Transition To a New Career', new_career) }}
            </div>
        </div>
    </section>
    <!-- end features area -->

    <section id="story_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="story_image wow slideInLeft" data-wow-duration="2s">
                        <img src="{{ url_for('static', filename='images/me_at_work.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="story_text wow slideInRight" data-wow-duration="2s">
                        <h2>My Story</h2>
                        <p>{{ my_story_1 }}</p>
                        <p>{{ my_story_2 }}</p>
                        <p>{{ my_story_3 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of story area -->

    <section id="Experience_area" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="experience wow slideInLeft">
                        <h2>What You'll Learn</h2>
                        <p>We'll sit down together to discuss your goals and create a road map with a timetable to accomplish them.</p>
                        <p>I will direct you towards relevant study material and then act as your tutor helping you progress towards your objectives.</p>
                        <p>The house is structured so that there will be a study period in most evenings where I'll explicitly make myself available to all housemates for tutoring.</p>
                        <p>I will run lessons of at least an hour at least once per week during one of those evening study periods, and residents can request the topics or I will pick one for you</p>
                        <p>I'll  also schedule one hour a week with each roommate for one-on-one mentoring.</p>
                        <p>As you advance we'll pair program together on your projects as well as mine so you get exposure to production level code complexity.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="skills">
                       <h2>Skills</h2>
                        <div class="skill_right">
                            {{ render_skill('Python', 90, 100) }}
                            {{ render_skill('Django', 80, 100) }}
                            {{ render_skill('Flask', 90, 70) }}
                            {{ render_skill('Javascript/JQuery', 90, 50) }}
                            {{ render_skill('POSTGRES/SQL', 70, 50) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end experience area -->

    <section id="clients_say_area" class="section_padding">
        <div class="container">
            <div class="row">
                    <hr>
                <div class="col-md-12 text-center">
                    <h2>The House</h2>
                </div>
                <div class="col-md-12 text-left">
                    <h3><a href="/floorplan" target="_blank">Floor plan</a></h3>
                </div>
                
                <div class="col-md-12 text-left">
                    <h4 style="color:red;">&#42;Photos shown are of model homes in Colorado Crossing (the community)</h4>
                </div>
            </div>
            <div class="row">
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp" style="margin: auto;">
                        <p class="wowBlack"><img class="img-responsive" src="{{ url_for('static', filename='images/living_room.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp" style="margin: auto;">
                        <p class="wowBlack"><img class="img-responsive" src="{{ url_for('static', filename='images/kitchen.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp" style="margin: auto;">
                        <p class="wowBlack"><img class="img-responsive" src="{{ url_for('static', filename='images/office.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp" style="margin: auto;">
                        <p class="wowBlack"><img class="img-responsive" src="{{ url_for('static', filename='images/family_room.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p class="wowBlack"><img class="img-responsive" style="margin: auto;" src="{{ url_for('static', filename='images/bedroom1.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                                <h5 class="text-center">2 Bedrooms with shared Bath</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p class="wowBlack"><img class="img-responsive" style="margin: auto;" src="{{ url_for('static', filename='images/bathroom.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                                <h5 class="text-center">1 Bedroom with private Bath</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p class="wowBlack"><img class="img-responsive" style="margin: auto;" src="{{ url_for('static', filename='images/pool.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                                <h5 class="text-center">Community Pool</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="clients_say wow slideInUp">
                        <p class="wowBlack"><img class="img-responsive" style="margin: auto; max-height: 371px" src="{{ url_for('static', filename='images/mckinney_falls.jpg') }}" alt=""></p>
                        <div class="clients_say_list fix">
                            <div class="say">
                                <h5 class="text-center">Close to McKinney Falls</h5>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- end clients say area -->

<hr>
    <section id="blog_area" class="section_padding">
        <div class="container" style='border-right:solid; border-left:solid'>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>The Cost</h2>
                    <hr>
                    <h4>Rent: Month to Month with no Long Term Obligation.</h4>
                    <hr>
                    <h4>Deposit: One Months Rent as Deposit.</h4>
                    <hr>
                    <h4>Commitment: 30 days notice before moving. Once you land that job you're after feel free to move out or stay a couple months and recieve support as you adjust to the life of a professional developer.</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 aligncenter text-center">
                    <div class="single_blog wow slideInUp" data-wow-duration="1s">
                        <h2>Private Room with a Shared Bath: $1000/month</h2>
                    </div>
                </div>
                <div class="col-sm-6 aligncenter text-center">
                    <div class="single_blog wow slideInUp" data-wow-duration="2s">
                        <h2>Private Room with a Private Bath: $1200/month</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section id="fringe_area" class="section_padding">
        <div class="container" style="border-right:solid; border-left:solid;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Fringe benefits</h2>
                    <hr>
                    <div class="wow slideInRight" data-wow-duration="1.5s">
                        <h4>Job reference and possible job referral at both of my companies</h4>
                    </div>
                    <hr>
                    <div class="wow slideInLeft" data-wow-duration="1.5s">
                        <h4>Python internships and other jobs available, working directly with me</h4>
                    </div>
                    <hr>
                    <div class="wow slideInRight" data-wow-duration="1.5s">
                        <h4>Free homemade beer</h4>
                    </div>
                    <hr>
                    <div class="wow slideInUp" data-wow-duration="1.8s">
                        <img style="width: 90%;" src="{{ url_for('static', filename='images/homebrew.jpg') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end blog area -->

    <section id="caal_to_action_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="call_to_action_text wow slideInLeft" data-wow-duration="2s">
                        <h2>Are you ready to move into PythonDevHouseATX?</h2>
                        <p>Send me an email telling me a little bit about your background in programming and why you think you'd be a good fit. <br> From there we can chat over the phone or meet up for lunch and see if we'd enjoy being roommates and working together.</p>

                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="call_project text-right wow slideInRight" data-wow-duration="2s">
                        <a href="#inquiries">Email</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end call to action area -->


    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <div class="company_logo wow slideInDown">
                        <h2>PythonDevHouseATX</h2>
                    </div>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="company_address wow slideInDown">
                        <h2>Austin, Texas 78744</h2>
                        <p>3601 Alpine Autumn<br>
                          Colorado Crossing
                        </p>
                        <h3>
                            (813) 545-2150 <br>
                            info@pythondevhouse.com </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
      	<div class='embed-container maps'>
          <div  class="col-sm-2 text-center"> </div>
          <div  class="col-sm-8 text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.326906173928!2d-97.70088501799704!3d30.199215832228806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b1582684b625%3A0xc176c8750878e3e9!2sColorado+Crossing%2C+Austin%2C+TX+78744!5e0!3m2!1sen!2sus!4v1452197985583" width="100%" align="center" height="450px" frameborder="0" style="border: 0"></iframe>
          </div>
          <div  class="col-sm-2 text-center"> </div>
      	</div>
      </div>
      </div>

    </footer>
    <div class="container">
      <br>
      <br>
      <br>
      <div class="row">
        <div class="col-md-12 text-center email-div">
          <div class="text-center" id="inquiries" style="margin-top:75px;">
      <hr>
            <h2>Inquiries:</h2>
            <div class="col-md-12 text-center">
                <h4 style="color:green;">&#42;Residency available from 8/1/2016 onward&#42;</h4>
                <h4 style="color:green;">Preorder available now</h4>
            </div>
        
            <form action="" method="post" name="inquiries">
                {{ form.hidden_tag() }}
                {{ form.email(id="email_field", class="text-center email") }}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    <br>
                {% endfor %}<br>
                {{ form.message(id="message_field", class="email-message") }}<br>
                {% for error in form.message.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                {% endfor %}<br>
                <input class="btn btn-primary btn-lg new-email-button" id="inquiry_form_submission" type="submit" value="Send">
            </form>
                
            <br>
            <br>
            <div class="col-md-12 text-center">
                <h3 style="color:blue;"><a target="_blank" href="https://github.com/codyc4321/pythondevhouse">Source code</a></h3>
            </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>

    <!-- test js easyconfirm -->
    <!-- <a href="#" class="confirm" id="chode">Normal test</a> -->


    </body>
    <!-- main jQuery-->
    <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/noframework.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/email.js') }}"></script>


    <!-- bootstrap js -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- wow js -->
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script>
        new WOW().init();
    </script>
    
    <!-- progress bar -->
    <script src="{{ url_for('static', filename='js/progress-bar.js') }}"></script>

    <!-- JQuery Confirm fancy alert boxes -->
    <!-- http://www.projectshadowlight.org/jquery-easy-confirm-dialog/ -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/js-blitzer.css')}}" type="text/css" />
    <script src="{{ url_for('static', filename='js/jquery.easy-confirm-dialog.js') }}"></script>

    <!-- main js -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  	<!-- Google Map -->
  	<script>
  		$('.maps').click(function () {
  		$('.maps iframe').css("pointer-events", "auto");
  	});

  	$( ".maps" ).mouseleave(function() {
  	  $('.maps iframe').css("pointer-events", "none");
  	});
  	</script>

    <script>
        $(".confirm").easyconfirm({locale: { title: 'this is a title', button: ['OK', 'I got it']}});
        $("#alert").click(function() {
        	alert("You approved the action");
        });
    </script>

    <script>
        $('#inquiry_form_submission').on('click', function() {
        });
        
    </script>
    
    <script>
        var submission_result = "{{ submission }}";
        
        if (submission_result == "valid") {
            alert('Your submission was accepted!\nI will be in contact shortly');
            location.hash = "#Experience_area";
        }
        else if (submission_result == "invalid") {
            alert('Please check the form for errors and resubmit');
            location.hash = "#inquiries"
        }
    </script>



</html>
